<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="USER_HOME" value="${user.dir}/target/gatling" />
    <timestamp key="bySecond" datePattern="yyyyMMdd.HHmmss" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${USER_HOME}/gatling-log-${bySecond}.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
        </encoder>
    </appender>

    <logger name="ConsoleLogger" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="FileLogger" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE" />
    </root>

    <if condition='property("runMode").contains("debug")'>
        <then>
            <logger name="io.gatling.http.ahc" level="DEBUG"/>

            <root level="DEBUG">
                <appender-ref ref="FILE" />
            </root>
        </then>
        <else>
            <if condition='property("runMode").contains("trace")'>
                <then>
                    <logger name="io.gatling.http.ahc" level="TRACE"/>
                    <root level="TRACE">
                        <appender-ref ref="FILE" />
                    </root>
                </then>
            </if>
        </else>

    </if>


</configuration>
